extends ./base


block content
    h1 Movies

    if query
        p "#{query}" 에 대한 검색 결과입니다.
    p 총 #{movieItems.length} 개의 영화 뉴스가 있습니다.

    form(action="/movies/" method="GET")
        input(type="text" name="query" value=query placeholder="검색어" required)
        input(type="submit" value="검색")

    ul
        each movieItem in movieItems
            li
                img(src=movieItem.image width="100%")
                h2 #{movieItem.title}
                p #{movieItem.content}
