h1 Watcha
if search
    p #{search} 에 대한 검색 결과입니다.
p #{news.length} 개의 뉴스 정보가 표시됩니다.

form(action="/" method="GET")
    input(type="text" name="search" placeholder="검색어를 입력하세요.")
    input(type="submit" value="검색")

ul
    for newsInformation in news
        img(src=newsInformation.image)
        h2 #{newsInformation.title}
        p #{newsInformation.content}
